@font-face {
    font-family: "La Flibustisre";
    src: url(https://res.cloudinary.com/areeba/raw/upload/v1650492268/La_Flibusti%C3%A8re.ttf);
  }
.container {
    background: url("https://res.cloudinary.com/areeba/image/upload/v1650488986/938ba925943764901f2c2889ea835d42--dark-navy-blue-cobalt-blue.jpg");
    object-fit: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: auto;
    border-left: 1px solid rgb(181, 119, 41);
    transform-origin: left center;
    transition: 2s;
    margin-right: auto;
  }
  
  .invite h1 {
    text-align: center;
    font-family: "La Flibustisre";
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0;
    background: -webkit-linear-gradient(#f7d182, #a16a2a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .invite {
    position: relative;
    top: -20vh;
  }